{% load static %}
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Blockchain Driven Insurance</title>
<meta name="keywords" content="" />
<meta name="Premium Series" content="" />
<link href="{% static 'default.css' %}" rel="stylesheet" type="text/css" media="screen" />
<style>
body {
  background-image: url("{% static 'images/back.jpg' %}");
}
</style>
</head>
<body>
<!-- start header -->
<div id="header">
	<div id="logo">
		<span><font size="4" style="Tahoma" color="white" align="center"><br/><br/><center>Blockchain Driven Insurance: Transforming Claims & Risk with Smart Contracts

</center></span>
		
	</div>
	<div id="menu">
		<ul id="main">
			<li class="current_page_item"><a href="{% url 'index' %}"><font size="3" color="white">Home</a></li>
			<li><a href="{% url 'AdminLogin' %}"><font size="3" color="white">Admin Login</a></li>
            <li><a href="{% url 'UserLogin' %}"><font size="3" color="white">User Login</a></li>
			 <li><a href="{% url 'Register' %}"><font size="3" color="white">New User Registration Heree</a></li>
		</ul>
		
	</div>
	
</div>
<div id="wrapper">
	<!-- start page -->
	<div id="page">
		
		<!-- start content -->
		<div id="content">
			<center><div class="flower"><img src="{% static 'images/tra.jpg' %}" alt="" width="600" height="200" /></center></div>
			<br/><br/><br/><br/>
			<center><font size="3" color="black"><p><br/><br/>D-Insure is an innovative blockchain-based insurance platform that aims to simplify and secure the insurance process for both users and insurance companies. By using blockchain technology and smart contracts, D-Insure provides an automated, transparent, and efficient way to manage insurance policies and claims. The platform allows users to register, view available insurance policies, and submit claims, all while eliminating the need for intermediaries, which helps to reduce costs and increase transaction speed.
</p></font></center>
		<center>
		
			<table align="center">
			<tr>
			<h3>
			</p></h3>
			</table>
			</center><br /><div class="post">
				
				<div class="entry">
					
				</div>
			</div>
		</div>
		<!-- end content -->
		<!-- start sidebars -->
		
		<!-- end sidebars -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end page -->
</div>
</body>
</html>


